aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.9.0
biopython==1.76
bz2file==0.98
certifi==2018.8.24
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cycler==0.10.0
deprecation==2.0.7
filelock==3.0.12
google==2.0.3
grpcio==1.29.0
idna==2.9
importlib-metadata==1.5.0
joblib==0.14.1
jsonschema==3.2.0
khmer==2.1.1
kiwisolver==1.1.0
llvmlite==0.31.0
matplotlib==3.0.3
more-itertools==8.2.0
msgpack==0.6.2
multidict==4.7.6
numba==0.47.0
numpy==1.18.1
packaging==20.1
pandas==0.25.3
pathlib2==2.3.5
pluggy==0.13.1
protobuf==3.12.0
py==1.8.1
py-spy==0.3.3
pycparser==2.19
pyfastx==0.6.11
pyparsing==2.4.6
pyrsistent==0.16.0
pytest==5.3.5
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
ray==0.8.5
redis==3.4.1
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
soupsieve==2.0.1
sourmash==3.2.2
wcwidth==0.1.8
yarl==1.4.2
zipp==1.2.0
